<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <swiper-container>
      <swiper-slide>
        <ion-card>
          <img
            alt="Mano sosteniendo una planta"
            src="../../assets/images/medio-ambiente.jpg"
          />
          <ion-card-header>
            <ion-card-title>¿Quienes somos?</ion-card-title>
            <ion-card-subtitle
              >Ministerio de Medio Ambiente y Recursos
              Naturales</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            El Ministerio de Medio Ambiente y Recursos Naturales promueve
            activamente el respeto de los ecosistemas, difundiendo conocimientos
            e informaciones a través de charlas, talleres y dinámicas educativas
            lúdicas dirigidas a elevar el nivel de concientización ambiental de
            la población dominicana.
          </ion-card-content>
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img
            alt="Niños sosteniendo el planeta Tierra"
            src="../../assets/images/kids-holding-up-globe.jpg"
          />
          <ion-card-header>
            <ion-card-title>¿Qué hacemos?</ion-card-title>
            <ion-card-subtitle
              >Nuestras funciones principales son:</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item
                ><ion-label
                  >Elaborar la política nacional sobre medio ambiente y recursos
                  naturales del país.</ion-label
                ></ion-item
              >
              <ion-item
                ><ion-label
                  >Administrar los recursos naturales de dominio del Estado que
                  les hayan sido asignados.</ion-label
                ></ion-item
              >
              <ion-item
                ><ion-label
                  >Velar por la preservación, protección y uso sostenible del
                  medio ambiente y los recursos naturales.</ion-label
                ></ion-item
              >
            </ion-list></ion-card-content
          >
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card>
          <img
            alt="Zona verde destruida parcialmente"
            src="../../assets/images/half-destroyed-environment.jpg"
          />
          <ion-card-header>
            <ion-card-title>Educación ambiental</ion-card-title>
            <ion-card-subtitle
              >Ofrecemos educación sobre el medio ambiente a la población
              dominicana</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content>
            A través de la Dirección de Educación Ambiental, creada a partir de
            la Ley General sobre Medio Ambiente y Recursos Naturales, No.64-00,
            y la Ley sobre Educación y Comunicación Ambiental, No.94-20,
            ofrecemos programas de educación ambiental no formal e informal, en
            coordinación con instituciones públicas, privadas, organizaciones no
            gubernamentales y entidades comunitarias.
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
